@charset "UTF-8";
/*! lixinjie 20170731 github.com/xinjie-just/hongyan.git */
@import "variables";
@import "reboot";

/*首页*/
/*头部*/
#header {
  @include center-content();
  $height: 90px;
  $size: 25px;
  height: $height;
  padding-top: $size;
  padding-bottom: $size;
  .logo {
    @extend %fl;
    width: 157px;
    height: $height - 2 * $size;
  }
  #nav {
    @extend %fr;
    ul {
      @extend .clearfix;
      li {
        @extend %fl;
        a {
          display: block;
          padding-right: .5em;
          padding-left: .5em;
          margin-right: 1em;
          margin-left: 1em;
          height: $height - 2 * $size;
          border-bottom: 2px solid transparent;
          line-height:  $height - 2 * $size - 2;
          font-size: $font-size;
          &.active,
          &:hover {
            border-bottom-color: $main-color;
          }
        }
      }
    }
  }
}
/*banner*/
.carousel-indicators li {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 8px;
  &.active {
    width: 8px;
    height: 8px;
    background-color: #1b95df;
    margin: 1px;
    border-radius: 8px;
    border-color: #1b95df;
  }
}

/*主要内容*/
.section-bg {
  @extend %page-width;
  &:nth-of-type(2n + 2) {
    background-color: #fff;
  }
  &:nth-of-type(2n + 1) {
    background-color: #f9f9f9;
  }
}
section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include center-content(1060px);
  h2 {
    position: relative;
    width: 100%;
    text-align: center;
    &:before,
    &:after{
      content: "";
      position: absolute;
      top: 50%;
      height: 3px;
      background-color: #d4d4d4;
      transform: translateY(-50%);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
    span {
      display: inline-block;
      &.cn {
        font-size: $font-size + 8;
        color: $text-color;
      }
      &.en {
        font-size: $font-size + 2;
        color: $main-color;
        text-transform: uppercase;
      }
    }
  }
}

/*关于我们*/
section.about-us {
  h2 {
    &:before,
    &:after {
      width: calc((100% - 140px) / 2);
    }
  }
  .content {
    @extend .clearfix;
    margin-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    .img {
      @extend %fl;
      text-align: right;
      .heading {
        display: inline-block;
        padding: 64px 16px 16px 30px;
        background-color: $main-color;
        span {
          display: block;
          text-align: right;
          color: #ffede0;
          &.cn {
            font-size: $font-size + 14;
          }
          &.en {
            font-size: $font-size + 2;
            text-transform: uppercase;
          }
        }
      }
      img {
        display: block;
        margin-top: 2px;
      }
    }
    .text {
      @extend %fr;
      width: 578px;
      p {
        font-size: $font-size - 2;
        color: $text-color;
        line-height: 24px;
        margin-bottom: 12px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      .contact {
        margin-top: 27px;
        span {
          font-size: $font-size - 2;
          color: $text-color;
          margin-right: 40px;
          i {
            font-size: $font-size + 2;
            margin-right: 10px;
            color: #28aaf8;
          }
          a {
            color: $text-color;
          }
        }
      }
    }
  }
}

/*我们的优势*/
section.our-advantage {
  h2 {
    &:before,
    &:after {
      width: calc((100% - 200px) / 2);
    }
  }
  .advantage {
    margin-top: 30px;
    margin-left: 270px;
    li {
      height: 30px;
      line-height: 30px;
      position: relative;
      margin-bottom: 10px;
      padding-left: 42px;
      color: $text-color;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:before {
        //content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
      }
      &:nth-of-type(even):before {
        background-color: #0b8bd9;
      }
      &:nth-of-type(odd):before {
        background-color: #28aaf8;
      }
      @for $i from 1 through 6 {
        &:nth-of-type(#{$i}):before {
          content: "#{$i}";
        }
      }
    }
  }
  .heading {
    margin-top: 50px;
    text-align: center;
    span {
      display: inline-block;
      &.cn {
        font-size: $font-size + 8;
        color: $text-color;
      }
      &.en {
        font-size: $font-size + 2;
        color: #ff6a00;
        text-transform: uppercase;
      }
    }
  }
  .process {
    margin-top: 40px;
    @extend .clearfix;
    li {
      @extend %fl;
      $size: 82px;
      width: 25%;
      padding: 98px calc((25% - 98px) / 2) 0;
      font-size: $font-size;
      color: $text-color;
      line-height: 1.5;
      text-align: center;
      &:nth-of-type(1) {
        background: url("../images/protocol.png") no-repeat center top,
                    url("../images/next-step.png") no-repeat right top 30px;
      }
      &:nth-of-type(2) {
        background: url("../images/audit.png") no-repeat center top,
                    url("../images/next-step.png") no-repeat right top 30px;
      }
      &:nth-of-type(3) {
        background: url("../images/write.png") no-repeat center top,
                    url("../images/next-step.png") no-repeat right top 30px;
      }
      &:nth-of-type(4) {
        background: url("../images/install.png") no-repeat center top;
      }
    }
  }
  .handle {
    text-align: center;
    a {
      display: inline-block;
      margin: 16px auto 0;
      border: 1px solid #666;
      border-radius: 4px;
      font-size: $font-size;
      color: $text-color;
      padding: 5px 14px;
      &:hover {
        color: $main-color;
        border-color: $main-color;
      }
    }
  }
}

/*产品推荐*/
section.products {
  h2 {
    &:before,
    &:after {
      width: calc((100% - 140px) / 2);
    }
  }
}

/*新闻动态*/
section.news {
  h2 {
    &:before,
    &:after {
      width: calc((100% - 140px) / 2);
    }
  }
  .content {
      margin-top: 40px;
      @extend .clearfix;
      .news-recommend {
          @extend %fl;
          width: 400px;
          height: 220px;
          position: relative;
          overflow: hidden;
          margin-top: 10px;
          a {
              display: block;
          }
          img {
              display: block;
              width: 400px;
              height: 220px;
          }
          span {
              position: absolute;
              width: 100%;
              bottom: 0;
              display: block;
              background-color: rgba(0, 0, 0, .6);
              color: #fff;
              padding: 13px 20px;
              @extend %ellipsis;
          }
      }
      ul {
          @extend %fr;
          width: 610px;
          li {
              @extend .clearfix;
              line-height: 34px;
              color: $text-color;
              font-size: $font-size - 2;
              a {
                  @extend %fl;
                  @extend %ellipsis;
                  position: relative;
                  display: block;
                  width: 460px;
                  padding-left: 20px;
                  &:hover {
                      color: $main-color;
                  }
                  &:before {
                      content: "";
                      position: absolute;
                      top: 50%;
                      left: 0;
                      transform: translateY(-50%);
                      width: 4px;
                      height: 4px;
                      background: #28aaf8;
                  }
              }
              time {
                @extend %fr;
              }
          }
      }
  }
}

/*底部*/
#footer {
    @extend %page-width;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #999;
    small {
        @include center-content();
        text-align: center;
        font-size: 14px;
        color: #fff;
        line-height: 1.6;
    }
}
